

<h4>Listing Array's elements</h4>
<div>
    <ul class="list-unstyled">
      <li  *ngFor="let articleNum of articlesFirtsList ; let i = index;" >
      {{articleNum | uppercase  }}
      </li>
    </ul>
</div>


<h1>{{articlesTitle}} - grid: col-xs-{{columns}}</h1>

<h6 *ngIf='likedNum > 0'><i class="fa fa-heart"></i> Just liked: article #{{likedNum}}</h6>



<div class="alert alert-secondary text-center select-columns-num">
  <label>Grid: col-xs-</label><input [(ngModel)]='columns' type="number" />
</div>




<div class="row articles">
  <div class="article col-sm-{{columns}}" *ngFor="let articleN of articles_hardCoded ; let i = index;" >
    <h2 class="h4">{{articleN.title | addPrefix: articlesPrefix  }}</h2>
    <p>
        <img class="img-fluid rounded"  src="{{articleN.picture}}">
        <!-- <img class="img-fluid rounded"  [src]='imgUrl'> -->
    </p>
    <p>
      <span class="badge badge-secondary">{{articleN.tag}}</span>
    </p>
    <p>
      {{articleN.plot}}
    </p>
    <p>
      <!-- ng class -->
      <a class="btn btn-primary text-white" [ngClass]="{'btn-success': articleN.like }" (click)='likeThis(this.i)' role="button">like</a> 
    </p>
  </div>
</div>