<h1>{{articlesTitle}} - grid: col-xs-{{columns}}</h1>


<div class="alert alert-secondary text-center select-columns-num">
  <label>Grid: col-xs-</label><input [(ngModel)]='columns' type="number" />
</div>


<div class="row articles">
  <div class="article col-sm-{{columns}}" *ngFor="let articleN of articles_hardCoded ; let i = index;" >
    <h2 class="h4">{{articleN.title | addPrefix: articlesPrefix  }}</h2>
    <p>
        <img class="img-fluid rounded"  src="{{articleN.picture}}">
        <!-- <img class="img-fluid rounded"  [src]='imgUrl'> -->
    </p>
    <p>
      <span class="badge badge-secondary">{{articleN.tag}}</span> 
       <span *ngIf='articleN.like' class="badge badge-success">Liked!</span>
    </p>
    <p>
      {{articleN.plot}}
    </p>
    <p>
      <app-like-btn [like]='articleN.like' [id]='articleN.id' (likeClicked)='onNotify($event)'></app-like-btn>
    </p>
  </div>
</div>