<nav class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/welcome']" >Welcome to {{ title }}!</a>
      <ul class="nav navpills">
            <li><a class='nav-link text-white' [routerLink]="['/welcome']" >Welcome</a></li>
            <li><a class='nav-link text-white' routerLink="/articles" >Articles list</a></li> <!-- SHORTCUT FOR routing-->
        </ul>
  </div>
</nav>
<div class="container">
    <main class="pt-md-3">
        <router-outlet></router-outlet>
    </main>
    <hr>

    <footer>
        <p>©{{ title }} : {{year | date:'dd/MM/yy'}}</p>
    </footer>
</div>
